@keyframes fadeIn {
  from {
    right: -312px;
  }
  to {
    right: 0;
  }
}
@keyframes hoverIn {
  from {
    border-bottom: 0px solid var(--mainColor);
  }
  to {
    border-bottom: 1px solid var(--mainColor);
  }
}
