.btn-select-date-time {
  cursor: pointer;
  margin-right: 20px;
  max-width: 100px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 14px;
  background: #fff;
  border: 1px solid var(--orange09);
  box-sizing: border-box;
  border-radius: 4px;
  color: #2f3035;
}
