@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&family=Tiro+Devanagari+Marathi&display=swap" rel="stylesheet');
@import '../../assets/scss/components/Header.scss';
@import '../../assets/scss/components/Footer.scss';
@import '../../assets/scss/components/Menu.scss';
@import '../../assets/scss/page/Home.scss';

:root {
  --mainColor: #24ac7c;
  --primary: rgb(240, 249, 244);
  --textColor: rgba(20, 36, 65, 0.8);
  --black: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-rendering: optimizespeed;
}

.bg-main {
  background: var(--primary);
}
