.change-password {
  margin: 30px 0 20px;

  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .login__form {
      width: 40%;

      &__password {
        margin: 40px 0 20px;
        border-bottom: 1px solid var(--gray9);
        display: flex;
        justify-content: space-between;

        input {
          border: none;
          width: 80%;
          font-size: 14px;
          font-weight: 500;
          color: var(--black);

          &:focus {
            outline: none;
          }
        }

        i {
          cursor: pointer;
          font-size: 14px;
        }
      }

      .btn-change-password {
        background: linear-gradient(79.98deg, rgb(76, 196, 139) 26.18%, rgb(68, 161, 152) 99.22%);
        border-radius: 8px;
        color: white;
        width: 100%;
        font-size: 14px;
        margin: 16px 0px 48px;
        height: 44px;
        border: none;
        outline: none;
        text-transform: uppercase;

        &:hover {
          color: var(--mainColor);
          background: var(--white);
        }
      }
    }

    .login__info {
      &__img {
        width: 300px;
      }
    }
  }
}
@media (max-width: 760px) {
  .change-password {
    &__content {
      flex-direction: column;

      .login__form {
        width: 100%;
      }
      .login__info {
        text-align: center;
      }
    }
  }
}
