.header {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  color: var(--textColor);

  .support {
    display: flex;

    &__hotline {
      padding: 0 18px;
      &:hover {
        cursor: pointer;
      }

      &__phone {
        color: var(--black);
      }
    }

    &__center {
      color: var(--black);
      border-left: 1px solid var(--textColor);
      padding: 0 18px;

      &__title {
        color: var(--textColor);
        text-decoration: none;
      }
    }
  }

  .user {
    display: flex;
    align-items: center;
    padding: 0 18px;
    position: relative;

    .box-info-wrap {
      position: absolute;
      right: 120%;
    }

    &:hover {
      cursor: pointer;
    }

    .space {
      margin: 5px;
      &::after {
        content: '/';
      }
    }
    .user__login {
      button {
        background: transparent !important;
        border: none;
        font-size: 14px;
        margin: 0;
        padding: 0;
        color: var(--textColor);

        &:hover {
          color: teal;
          border: none;
          font-weight: bold;
        }
      }
    }
    .user__register {
      &:hover {
        color: teal;
        border: none;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 920px) {
  .header {
    display: none;
  }
}
