.booking-detail {
  padding: 20px 10px 50px 10px;

  &__content {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 2px 10px rgb(0 0 0 / 20%);
    display: flex;
    margin: 20px 0 30px;

    .code-box {
      margin-top: 30px;
      padding: 20px 6% 0 6%;

      h2 {
        font-size: 16px;
        margin-bottom: 15px;
        font-weight: 700;
      }

      .code {
        background: #ffffff;
        border: 1px solid #00ba99;
        box-sizing: border-box;
        border-radius: 16px;
        padding: 5px 10px;
        display: flex;
        font-weight: bold;

        &__text {
          color: teal;
        }
      }

      .cancel-box {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        &__title {
          margin: 30px 0 10px;
          font-size: 16px;
          text-transform: uppercase;
          font-weight: bold;
          color: #d32f2f;
        }

        &__button {
          border: none;
          display: flex;
          margin: 0 auto;
          font-size: 14px;
          background: red;
          padding: 5px 20px;
          color: wheat;
          font-weight: bold;
          border-radius: 10px;
        }
      }
    }

    .booking-info {
      width: 60%;

      &__wrap {
        box-shadow: 0px 2px 10px rgb(0 0 0 / 20%);
        margin: 30px 0;
        padding: 5px 10px;
        border-radius: 10px;
      }

      .row {
        display: flex;

        .title {
          font-weight: 400;
        }

        .user-name {
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 600;
        }

        .text {
          font-weight: 600;

          &--time {
            background: rgba(49, 97, 173, 0.125);
            max-width: fit-content;
            border-radius: 5px;
            padding: 0 15px;
            font-weight: 700;
          }

          .date {
            margin-left: 20px;
          }
        }
        .status {
          display: flex;
          text-align: center;
          border-radius: 999px;
          max-width: 100px;
          height: 30px;
          border: none rgb(0, 0, 0);
          -webkit-box-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          align-items: center;
          padding: 7px 10px;
          font-weight: bold;
          font-size: 14px;
          line-height: 15px;

          &--fail {
            color: rgb(237, 24, 70);
          }

          &--new {
            background-color: rgb(53, 195, 131);
          }

          &--confirmed {
            background-color: rgb(240, 242, 128);
          }

          &--waiting {
            background-color: #2196f3;
          }

          &--cancel {
            color: #607d8b;
          }
        }
      }
    }
  }
}

@media (max-width: 760px) {
  .booking-detail {
    padding: 10px 5px;

    &__content {
      border-radius: 5px;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .code-box {
        padding: 0 3px;

        .code {
          max-width: 300px;
        }
      }
      .booking-info {
        &__wrap {
          margin: 10px;

          .title {
            font-size: 12px;
          }

          .text {
            font-size: 12px;
          }
        }
      }

      .booking-info {
        width: 100%;
      }
    }
  }
}
