.doctor-detail-wrap {
  padding: 40px 0;
  .container {
    .doctor-detail {
      &__info {
        display: flex;
        background: var(--white);
        box-sizing: border-box;
        box-shadow: 0px 1px 0px rgb(0 0 0 / 10%);
        border-radius: 4px;
        margin-bottom: 12px;
        padding: 10px 5%;

        &__img {
          max-width: 200px;
        }

        .doctor__info {
          margin: auto 0 auto 40px;
          list-style-type: none;

          &__name {
            flex: 0 0 75%;
            font-weight: bold;
            font-size: 24px;
            line-height: 30px;
            color: #2f3035;
            margin-bottom: 12px;
          }

          &__hospital {
            font-weight: normal;
            font-size: 16px;
            line-height: 16px;
            color: #2f3035;
            margin-bottom: 10px;
            font-weight: bold;
          }

          &__specializations {
            flex: 0 0 auto;
            max-width: 100%;
            min-height: 22px;
            background: #dee6f2;
            border-radius: 4px;
            font-size: 14px;
            line-height: 18px;
            color: #2f3035;
            padding: 2px 8px;
            font-weight: 500;
          }

          &__item {
            font-size: 14px;
            margin: 10px 0;

            .title {
              font-weight: bold;
              margin-right: 15px;
            }
          }
        }
      }

      &__calendar {
        background-color: var(--white);
        display: flex;
        justify-content: space-between;
        padding: 20px;
        margin-bottom: 18px;
        border-radius: 5px;
        box-shadow: 0px 1px 0px rgb(0 0 0 / 10%);

        .calendar-work {
          background: var(--blue02);
          width: 80%;
          padding: 20px;
          position: relative;

          &__title {
            font-size: 18px;
            font-weight: 700;
            line-height: 20px;
            padding-bottom: 20px;
          }

          &__list {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
          }

          &__btn {
            position: absolute;
            bottom: 0;
            margin-bottom: 10px;
          }
        }
      }

      &__exp {
        background: #ffffff;
        box-sizing: border-box;
        box-shadow: 0px 1px 0px rgb(0 0 0 / 10%);
        border-radius: 4px;
        padding: 32px 40px 36px;

        &__title {
          font-weight: 800;
          font-size: 16px;
          line-height: 18px;
          text-transform: uppercase;
          color: var(--black);
          margin-bottom: 12px;
        }

        .list_exp {
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;
          color: var(--textColor);
          opacity: 1;
          margin-bottom: 20px;
          list-style-type: circle;

          &__item {
            &__title {
              list-style-type: none !important;
              color: var(--black);
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 920px) {
  .doctor-detail-wrap {
    .doctor-detail {
      &__info {
        flex-direction: column;

        .doctor__info {
          margin: 0 !important;
          &__specializations {
            max-width: 350px !important;
          }
        }
      }
    }
  }
}
